  body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
  }
  
  .title {
      color:blue;
  }

  .title-break {
    display:none;
  }
  
  .flip-card {
    background-color: transparent;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:active .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }

  .shadow-box {
    box-shadow: 2px 2px grey;
  }

  .flip-button {
    border: solid thin black;
    width: 75px;
    height: 50px;
    border-radius: 10px;
  }

  .left-button {
    display: none;
  }

  .shuffle-button {
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .svg-image {
    margin: 0px 0px 0px 0px;
  }

  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 480px) {
    .title {
      font-size:medium;
    }
    .title-break {
      display:none;
    }
  }